[user]
	name = Paulo Antonio Alvarez
	email = pauloaalvarez@gmail.com
[core]
	editor = vim
	whitespace = blank-at-eol,blank-at-eof,space-before-tab,tab-in-indent
[color]
	ui = true
[merge]
	tool = vimdiff
[status]
	submoduleSummary = true
[diff]
	submodule = log
[alias]
	fo = fetch origin
	mfu = merge --ff-only @{u}
	co = checkout
	ci = commit
	stu = status -uno
	st = status
	adu = add -u
	unstage = reset HEAD --
